<?xml version="1.0"?>
<!--
/**
 * @category Company
 * @package Company_Performance
 */
-->
<config>
    <modules>
        <Company_Performance>
            <version>0.1.0</version>
        </Company_Performance>
    </modules>
    <global>
        <models>
            <catalog_resource>
                <rewrite>
                    <product_type_configurable_attribute_collection>Company_Performance_Model_Resource_Catalog_Product_Type_Configurable_Attribute_Collection</product_type_configurable_attribute_collection>
                </rewrite>
            </catalog_resource>
            <catalog>
                <rewrite>
                    <product_type_configurable>Company_Performance_Model_Catalog_Product_Type_Configurable</product_type_configurable>
                </rewrite>
            </catalog>
            <eav>
                <rewrite>
                    <entity_attribute_source_table>Company_Performance_Model_Eav_Entity_Attribute_Source_Table</entity_attribute_source_table>
                </rewrite>
            </eav>
        </models>
        <helpers>
            <company_performance>
                <class>Company_Performance_Helper</class>
            </company_performance>
        </helpers>
    </global>
    <default>
        <company_performance>
            <used_products>
                <cache_key>used_products</cache_key>
                <cache_tag>cached_used_products</cache_tag>
                <cache_lifetime>7200</cache_lifetime>
            </used_products>
            <configurable_attributes>
                <cache_key>configurable_attributes</cache_key>
                <cache_tag>cached_configurable_attributes</cache_tag>
                <cache_lifetime>7200</cache_lifetime>
            </configurable_attributes>
        </company_performance>
    </default>
</config>