<?xml version="1.0"?>
<!--
/**
 * Company_Performance configuration
 *
 * @category Company
 * @package Company_Performance
 */
-->
<config>
    <sections>
        <dev translate="label" module="core">
            <groups>
                <performance translate="label">
                    <label>Cache</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <used_products_lifetime translate="label comment">
                            <label>Used Products</label>
                            <comment>
                                <![CDATA[Please enter used products cache expiration period]]>
                            </comment>
                            <frontend_input>text</frontend_input>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </used_products_lifetime>
                        <configurable_attributes_lifetime translate="label comment">
                            <label>Configurable Attributes</label>
                            <comment>
                                <![CDATA[Please enter configurable attributes cache expiration period]]>
                            </comment>
                            <frontend_input>text</frontend_input>
                            <sort_order>300</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </configurable_attributes_lifetime>
                    </fields>
                </performance>
            </groups>
        </dev>
    </sections>
</config>